In [1]:
# import necessary modules
import pandas as pd
import time as time
from cassandra.cluster import Cluster
from cassandra.auth import PlainTextAuthProvider
import warnings
warnings.filterwarnings("ignore")

In [2]:
# connect to Cassandra
server_config = {
                 "host": "127.0.0.1",
                 "port": "9042",
                 "user": "",
                 "password": "",
                 "keySpace": "cds502"
     }


keyspace = server_config['keySpace']

auth_provider = PlainTextAuthProvider(username=server_config['user'],password=server_config['password'])

node_ips = [server_config['host']]



cluster = Cluster(contact_points=node_ips, load_balancing_policy=None, port=int(server_config['port']), auth_provider=auth_provider, protocol_version=3)
session = cluster.connect()
session.default_timeout = 30000000
session.set_keyspace(keyspace)

### Number of arrested crimes by year

In [3]:
# first query
def pandas_factory(colnames, rows):
    return pd.DataFrame(rows, columns=colnames)

session = cluster.connect()
session.default_timeout = 30000000
session.row_factory = pandas_factory
session.default_fetch_size = None
session.set_keyspace(keyspace)

start_time = time.time()
query = session.execute("""SELECT "Year", COUNT("Case Number") FROM arrests WHERE "Arrest"=True GROUP BY "Year" ALLOW FILTERING;""")
query_time1 = (time.time()-start_time)
df = query._current_rows
print(f"Time to execute query: {query_time1:.2f}s")

Time to execute query: 20.82s

In [4]:
df = df.sort_values(by=["Year"])
df = df.reset_index(drop=True)

for index, row in df.iterrows():
    print(f"Number of crimes in year {row['Year']}: {row['system.count(Case Number)']}")

Number of crimes in year 2001: 141900
Number of crimes in year 2002: 141542
Number of crimes in year 2003: 141568
Number of crimes in year 2004: 144681
Number of crimes in year 2005: 140890
Number of crimes in year 2006: 135376
Number of crimes in year 2007: 131838
Number of crimes in year 2008: 109940
Number of crimes in year 2009: 110744
Number of crimes in year 2010: 100424
Number of crimes in year 2011: 96181
Number of crimes in year 2012: 90539
Number of crimes in year 2013: 86419
Number of crimes in year 2014: 79258
Number of crimes in year 2015: 69650
Number of crimes in year 2016: 52444
Number of crimes in year 2017: 38517

In [5]:
df

    Year  system.count(Case Number)
0   2001                     141900
1   2002                     141542
2   2003                     141568
3   2004                     144681
4   2005                     140890
5   2006                     135376
6   2007                     131838
7   2008                     109940
8   2009                     110744
9   2010                     100424
10  2011                      96181
11  2012                      90539
12  2013                      86419
13  2014                      79258
14  2015                      69650
15  2016                      52444
16  2017                      38517

### Number of crimes by location

In [6]:
# second query

session = cluster.connect()
session.default_timeout = 30000000
session.row_factory = pandas_factory
session.default_fetch_size = None
session.set_keyspace(keyspace)

start_time = time.time()
query2=session.execute("""SELECT "Location Description", COUNT("Case Number") FROM crime_by_location GROUP BY "Location Description";""")
query2_time = time.time()-start_time
df2 = query2._current_rows
print(f"Time to execute query: {query2_time:.2f}s")

Time to execute query: 32.56s

In [7]:
df2_sort = df2.sort_values(by=["system.count(Case Number)"], ascending=False)
df2_sort = df2_sort.reset_index(drop=True)
df2_sort.columns = ["Location", "Number of Crimes"]

print("Top 5 Locations with Highest Number of Crimes: ")
df2_top5 = df2_sort.iloc[:5, :]
print(df2_top5)

Top 5 Locations with Highest Number of Crimes:
    Location  Number of Crimes
0     STREET           1704536
1  RESIDENCE           1091375
2  APARTMENT            658789
3   SIDEWALK            641954
4      OTHER            243977

In [8]:
for index, row in df2.iterrows():
    print(f"Number of crimes in {row['Location Description']}: {row['system.count(Case Number)']}")

Number of crimes in : 2799
Number of crimes in WAREHOUSE: 8878
Number of crimes in CLEANERS/LAUNDROMAT: 1
Number of crimes in CTA GARAGE / OTHER PROPERTY: 9630
Number of crimes in STREET: 1704536
Number of crimes in RETAIL STORE: 68
Number of crimes in PORCH: 269
Number of crimes in LOADING DOCK: 1
Number of crimes in AIRPORT PARKING LOT: 573
Number of crimes in NEWSSTAND: 224
Number of crimes in AIRCRAFT: 528
Number of crimes in DRIVEWAY: 15
Number of crimes in CTA "L"" PLATFORM": 4
Number of crimes in LAGOON: 1
Number of crimes in GOVERNMENT BUILDING: 1
Number of crimes in CONSTRUCTION SITE: 12437
Number of crimes in BANQUET HALL: 1
Number of crimes in CTA TRACKS - RIGHT OF WAY: 66
Number of crimes in CLEANING STORE: 4634
Number of crimes in MOTEL: 5
Number of crimes in BAR OR TAVERN: 33549
Number of crimes in PUBLIC HIGH SCHOOL: 2
Number of crimes in BARBER SHOP/BEAUTY SALON: 12
Number of crimes in OTHER: 243977
Number of crimes in GAS STATION DRIVE/PROP.: 43
Number of crimes in CHA PLAY LOT: 3
Number of crimes in BRIDGE: 357
Number of crimes in PAWN SHOP: 474
Number of crimes in COUNTY JAIL: 2
Number of crimes in DRUG STORE: 29311
Number of crimes in HOSPITAL BUILDING/GROUNDS: 18956
Number of crimes in POOL ROOM: 814
Number of crimes in CLUB: 15
Number of crimes in AIRPORT/AIRCRAFT: 16052
Number of crimes in LAUNDRY ROOM: 2
Number of crimes in CHA HALLWAY: 35
Number of crimes in CEMETARY: 332
Number of crimes in CREDIT UNION: 466
Number of crimes in APPLIANCE STORE: 1671
Number of crimes in LIVERY STAND OFFICE: 2
Number of crimes in AUTO / BOAT / RV DEALERSHIP: 3
Number of crimes in DUMPSTER: 7
Number of crimes in VEHICLE-COMMERCIAL: 5075
Number of crimes in CTA BUS STOP: 5498
Number of crimes in PARKING LOT/GARAGE(NON.RESID.): 185027
Number of crimes in ROOMING HOUSE: 1
Number of crimes in CTA "L"" TRAIN": 2
Number of crimes in TAVERN: 33
Number of crimes in CTA PLATFORM: 35228
Number of crimes in YMCA: 2
Number of crimes in RESTAURANT: 97309
Number of crimes in HOTEL/MOTEL: 26339
Number of crimes in GOVERNMENT BUILDING/PROPERTY: 13515
Number of crimes in POOLROOM: 1
Number of crimes in COIN OPERATED MACHINE: 1004
Number of crimes in VEHICLE - DELIVERY TRUCK: 54
Number of crimes in CHURCH PROPERTY: 2
Number of crimes in LIQUOR STORE: 6
Number of crimes in CTA TRAIN: 21673
Number of crimes in FIRE STATION: 966
Number of crimes in OTHER COMMERCIAL TRANSPORTATION: 2768
Number of crimes in LIVERY AUTO: 1
Number of crimes in SCHOOL YARD: 11
Number of crimes in AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA: 1401
Number of crimes in RAILROAD PROPERTY: 13
Number of crimes in LAKE: 3
Number of crimes in DAY CARE CENTER: 2535
Number of crimes in NURSING HOME: 5
Number of crimes in TRAILER: 3
Number of crimes in RESIDENCE PORCH/HALLWAY: 112745
Number of crimes in GARAGE: 49
Number of crimes in APARTMENT: 658789
Number of crimes in SCHOOL, PUBLIC, GROUNDS: 27808
Number of crimes in EXPRESSWAY EMBANKMENT: 1
Number of crimes in PRAIRIE: 2
Number of crimes in CHA PARKING LOT/GROUNDS: 54884
Number of crimes in YARD: 184
Number of crimes in GROCERY FOOD STORE: 83440
Number of crimes in CTA PROPERTY: 3
Number of crimes in AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA: 529
Number of crimes in CTA BUS: 20585
Number of crimes in VACANT LOT/LAND: 23141
Number of crimes in LIBRARY: 5680
Number of crimes in ABANDONED BUILDING: 10809
Number of crimes in COMMERCIAL / BUSINESS OFFICE: 47240
Number of crimes in CHURCH/SYNAGOGUE/PLACE OF WORSHIP: 14238
Number of crimes in CHURCH: 6
Number of crimes in DELIVERY TRUCK: 962
Number of crimes in STAIRWELL: 16
Number of crimes in NURSING HOME/RETIREMENT HOME: 12455
Number of crimes in FACTORY/MANUFACTURING BUILDING: 6623
Number of crimes in HOUSE: 493
Number of crimes in COLLEGE/UNIVERSITY GROUNDS: 5449
Number of crimes in TRUCK: 8
Number of crimes in BANK: 26265
Number of crimes in MEDICAL/DENTAL OFFICE: 6803
Number of crimes in ELEVATOR: 1
Number of crimes in AIRPORT BUILDING NON-TERMINAL - SECURE AREA: 431
Number of crimes in GANGWAY: 64
Number of crimes in SCHOOL, PRIVATE, BUILDING: 12698
Number of crimes in HIGHWAY/EXPRESSWAY: 962
Number of crimes in CAR WASH: 2621
Number of crimes in CHA LOBBY: 6
Number of crimes in TRUCKING TERMINAL: 1
Number of crimes in VEHICLE - OTHER RIDE SERVICE: 302
Number of crimes in SAVINGS AND LOAN: 335
Number of crimes in AIRPORT EXTERIOR - SECURE AREA: 232
Number of crimes in FACTORY: 2
Number of crimes in CHA BREEZEWAY: 3
Number of crimes in PARKING LOT: 144
Number of crimes in HOSPITAL: 5
Number of crimes in CHA ELEVATOR: 2
Number of crimes in SMALL RETAIL STORE: 111048
Number of crimes in TAXICAB: 6799
Number of crimes in ATM (AUTOMATIC TELLER MACHINE): 6966
Number of crimes in CHA STAIRWELL: 8
Number of crimes in JUNK YARD/GARBAGE DUMP: 1
Number of crimes in CHA HALLWAY/STAIRWELL/ELEVATOR: 24634
Number of crimes in RIVER BANK: 2
Number of crimes in CONVENIENCE STORE: 13761
Number of crimes in SCHOOL, PRIVATE, GROUNDS: 3881
Number of crimes in TAVERN/LIQUOR STORE: 21237
Number of crimes in FUNERAL PARLOR: 1
Number of crimes in CHA GROUNDS: 38
Number of crimes in POLICE FACILITY/VEH PARKING LOT: 16395
Number of crimes in SPORTS ARENA/STADIUM: 4702
Number of crimes in RESIDENCE: 1091375
Number of crimes in SIDEWALK: 641954
Number of crimes in RIVER: 4
Number of crimes in HOTEL: 15
Number of crimes in AIRPORT TERMINAL LOWER LEVEL - SECURE AREA: 503
Number of crimes in SEWER: 3
Number of crimes in PARK PROPERTY: 50401
Number of crimes in VACANT LOT: 95
Number of crimes in BASEMENT: 29
Number of crimes in CHA PARKING LOT: 40
Number of crimes in AIRPORT VENDING ESTABLISHMENT: 784
Number of crimes in AIRPORT EXTERIOR - NON-SECURE AREA: 603
Number of crimes in HALLWAY: 82
Number of crimes in DRIVEWAY - RESIDENTIAL: 18803
Number of crimes in COACH HOUSE: 3
Number of crimes in LAKEFRONT/WATERFRONT/RIVERBANK: 1039
Number of crimes in WOODED AREA: 5
Number of crimes in CHA APARTMENT: 35209
Number of crimes in BOAT/WATERCRAFT: 626
Number of crimes in FEDERAL BUILDING: 727
Number of crimes in AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA: 67
Number of crimes in GAS STATION: 67694
Number of crimes in COLLEGE/UNIVERSITY RESIDENCE HALL: 1319
Number of crimes in TAXI CAB: 6
Number of crimes in ALLEY: 145274
Number of crimes in VESTIBULE: 17
Number of crimes in ATHLETIC CLUB: 7545
Number of crimes in CTA STATION: 2629
Number of crimes in PUBLIC GRAMMAR SCHOOL: 1
Number of crimes in RESIDENTIAL YARD (FRONT/BACK): 63719
Number of crimes in MOVIE HOUSE/THEATER: 2391
Number of crimes in BARBERSHOP: 7426
Number of crimes in AIRPORT TRANSPORTATION SYSTEM (ATS): 76
Number of crimes in RESIDENCE-GARAGE: 127129
Number of crimes in VEHICLE NON-COMMERCIAL: 102776
Number of crimes in JAIL / LOCK-UP FACILITY: 973
Number of crimes in DEPARTMENT STORE: 78315
Number of crimes in OTHER RAILROAD PROP / TRAIN DEPOT: 5523
Number of crimes in GARAGE/AUTO REPAIR: 9
Number of crimes in ANIMAL HOSPITAL: 698
Number of crimes in CURRENCY EXCHANGE: 10324
Number of crimes in FOREST PRESERVE: 376
Number of crimes in OFFICE: 14
Number of crimes in AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA: 631
Number of crimes in SCHOOL, PUBLIC, BUILDING: 138282
Number of crimes in AIRPORT TERMINAL UPPER LEVEL - SECURE AREA: 3531
Number of crimes in BOWLING ALLEY: 631
Number of crimes in AUTO: 1058

In [9]:
df2.head(10)

          Location Description  system.count(Case Number)
0                                                    2799
1                    WAREHOUSE                       8878
2          CLEANERS/LAUNDROMAT                          1
3  CTA GARAGE / OTHER PROPERTY                       9630
4                       STREET                    1704536
5                 RETAIL STORE                         68
6                        PORCH                        269
7                 LOADING DOCK                          1
8          AIRPORT PARKING LOT                        573
9                    NEWSSTAND                        224

### Number of robbery cases in District 1

In [23]:
cluster = Cluster(contact_points=node_ips, load_balancing_policy=None, port=int(server_config['port']), auth_provider=auth_provider, protocol_version=3)
session = cluster.connect()
session.default_timeout = 30000000
session.row_factory = pandas_factory
session.default_fetch_size = None
session.set_keyspace(keyspace)

start_time = time.time()
query3=session.execute("""SELECT count(*) FROM crime WHERE "District"=1 AND "Primary Type"='ROBBERY' ALLOW FILTERING;""", timeout=None)
query3_time = time.time()-start_time
df3 = query3._current_rows
print(f"Time to execute query: {query3_time:.2f}s")

Time to execute query: 54.74s

In [11]:
print(f"Number of robbery cases in District 1: {df3.iloc[0,0]}")

Number of robbery cases in District 1: 6031

In [12]:
df3

   count
0   6031

### Number of theft crime by location in year 2015

In [13]:
# fourth query

session = cluster.connect()
session.default_timeout = 30000000
session.row_factory = pandas_factory
session.default_fetch_size = None
session.set_keyspace(keyspace)

start_time = time.time()
query4=session.execute("""SELECT "Location Description", COUNT("Case Number") FROM crime_by_location WHERE "Year"=2015 AND "Primary Type"='THEFT' GROUP BY "Location Description" ALLOW FILTERING;""")
query4_time = time.time()-start_time
df4 = query4._current_rows
print(f"Time to execute query: {query4_time:.2f}s")

Time to execute query: 16.52s

In [14]:
df4_sort = df4.sort_values(by=["system.count(Case Number)"], ascending=False)
df4_sort = df4_sort.reset_index(drop=True)
df4_sort.columns = ["Location", "Number of Theft"]

print("Top 5 Locations with Highest Number of Thefts: ")
df4_top5 = df4_sort.iloc[:5, :]
print(df4_top5)

Top 5 Locations with Highest Number of Thefts:
           Location  Number of Theft
0            STREET            14451
1         RESIDENCE             4087
2         APARTMENT             3673
3  DEPARTMENT STORE             3317
4             OTHER             3296

In [19]:
for index, row in df4.iterrows():
    print(f"Number of theft crimes in year 2015 at {row['Location Description']}: {row['system.count(Case Number)']}")

Number of theft crimes in year 2015 at : 1
Number of theft crimes in year 2015 at WAREHOUSE: 89
Number of theft crimes in year 2015 at CTA GARAGE / OTHER PROPERTY: 97
Number of theft crimes in year 2015 at STREET: 14451
Number of theft crimes in year 2015 at AIRPORT PARKING LOT: 33
Number of theft crimes in year 2015 at NEWSSTAND: 3
Number of theft crimes in year 2015 at AIRCRAFT: 42
Number of theft crimes in year 2015 at CONSTRUCTION SITE: 144
Number of theft crimes in year 2015 at CTA TRACKS - RIGHT OF WAY: 3
Number of theft crimes in year 2015 at CLEANING STORE: 20
Number of theft crimes in year 2015 at BAR OR TAVERN: 782
Number of theft crimes in year 2015 at OTHER: 3296
Number of theft crimes in year 2015 at BRIDGE: 1
Number of theft crimes in year 2015 at PAWN SHOP: 25
Number of theft crimes in year 2015 at DRUG STORE: 622
Number of theft crimes in year 2015 at HOSPITAL BUILDING/GROUNDS: 285
Number of theft crimes in year 2015 at POOL ROOM: 9
Number of theft crimes in year 2015 at AIRPORT/AIRCRAFT: 11
Number of theft crimes in year 2015 at CEMETARY: 4
Number of theft crimes in year 2015 at CREDIT UNION: 2
Number of theft crimes in year 2015 at APPLIANCE STORE: 24
Number of theft crimes in year 2015 at VEHICLE-COMMERCIAL: 126
Number of theft crimes in year 2015 at CTA BUS STOP: 138
Number of theft crimes in year 2015 at PARKING LOT/GARAGE(NON.RESID.): 2522
Number of theft crimes in year 2015 at CTA PLATFORM: 158
Number of theft crimes in year 2015 at RESTAURANT: 2112
Number of theft crimes in year 2015 at HOTEL/MOTEL: 445
Number of theft crimes in year 2015 at GOVERNMENT BUILDING/PROPERTY: 87
Number of theft crimes in year 2015 at COIN OPERATED MACHINE: 6
Number of theft crimes in year 2015 at VEHICLE - DELIVERY TRUCK: 14
Number of theft crimes in year 2015 at CTA TRAIN: 598
Number of theft crimes in year 2015 at FIRE STATION: 20
Number of theft crimes in year 2015 at OTHER COMMERCIAL TRANSPORTATION: 41
Number of theft crimes in year 2015 at AIRPORT TERMINAL LOWER LEVEL - NON-SECURE AREA: 49
Number of theft crimes in year 2015 at DAY CARE CENTER: 22
Number of theft crimes in year 2015 at RESIDENCE PORCH/HALLWAY: 1341
Number of theft crimes in year 2015 at APARTMENT: 3673
Number of theft crimes in year 2015 at SCHOOL, PUBLIC, GROUNDS: 167
Number of theft crimes in year 2015 at CHA PARKING LOT/GROUNDS: 36
Number of theft crimes in year 2015 at GROCERY FOOD STORE: 2041
Number of theft crimes in year 2015 at AIRPORT TERMINAL UPPER LEVEL - NON-SECURE AREA: 30
Number of theft crimes in year 2015 at CTA BUS: 343
Number of theft crimes in year 2015 at VACANT LOT/LAND: 204
Number of theft crimes in year 2015 at LIBRARY: 68
Number of theft crimes in year 2015 at ABANDONED BUILDING: 62
Number of theft crimes in year 2015 at COMMERCIAL / BUSINESS OFFICE: 407
Number of theft crimes in year 2015 at CHURCH/SYNAGOGUE/PLACE OF WORSHIP: 164
Number of theft crimes in year 2015 at DELIVERY TRUCK: 1
Number of theft crimes in year 2015 at NURSING HOME/RETIREMENT HOME: 162
Number of theft crimes in year 2015 at FACTORY/MANUFACTURING BUILDING: 27
Number of theft crimes in year 2015 at COLLEGE/UNIVERSITY GROUNDS: 71
Number of theft crimes in year 2015 at BANK: 60
Number of theft crimes in year 2015 at MEDICAL/DENTAL OFFICE: 78
Number of theft crimes in year 2015 at AIRPORT BUILDING NON-TERMINAL - SECURE AREA: 42
Number of theft crimes in year 2015 at SCHOOL, PRIVATE, BUILDING: 148
Number of theft crimes in year 2015 at HIGHWAY/EXPRESSWAY: 1
Number of theft crimes in year 2015 at CAR WASH: 36
Number of theft crimes in year 2015 at VEHICLE - OTHER RIDE SERVICE: 11
Number of theft crimes in year 2015 at AIRPORT EXTERIOR - SECURE AREA: 23
Number of theft crimes in year 2015 at SMALL RETAIL STORE: 3104
Number of theft crimes in year 2015 at TAXICAB: 108
Number of theft crimes in year 2015 at ATM (AUTOMATIC TELLER MACHINE): 16
Number of theft crimes in year 2015 at CHA HALLWAY/STAIRWELL/ELEVATOR: 8
Number of theft crimes in year 2015 at CONVENIENCE STORE: 527
Number of theft crimes in year 2015 at SCHOOL, PRIVATE, GROUNDS: 33
Number of theft crimes in year 2015 at TAVERN/LIQUOR STORE: 149
Number of theft crimes in year 2015 at POLICE FACILITY/VEH PARKING LOT: 44
Number of theft crimes in year 2015 at SPORTS ARENA/STADIUM: 127
Number of theft crimes in year 2015 at RESIDENCE: 4087
Number of theft crimes in year 2015 at SIDEWALK: 2468
Number of theft crimes in year 2015 at AIRPORT TERMINAL LOWER LEVEL - SECURE AREA: 53
Number of theft crimes in year 2015 at PARK PROPERTY: 611
Number of theft crimes in year 2015 at AIRPORT VENDING ESTABLISHMENT: 44
Number of theft crimes in year 2015 at AIRPORT EXTERIOR - NON-SECURE AREA: 17
Number of theft crimes in year 2015 at DRIVEWAY - RESIDENTIAL: 260
Number of theft crimes in year 2015 at LAKEFRONT/WATERFRONT/RIVERBANK: 27
Number of theft crimes in year 2015 at CHA APARTMENT: 80
Number of theft crimes in year 2015 at BOAT/WATERCRAFT: 18
Number of theft crimes in year 2015 at FEDERAL BUILDING: 4
Number of theft crimes in year 2015 at AIRPORT TERMINAL MEZZANINE - NON-SECURE AREA: 4
Number of theft crimes in year 2015 at GAS STATION: 714
Number of theft crimes in year 2015 at COLLEGE/UNIVERSITY RESIDENCE HALL: 17
Number of theft crimes in year 2015 at ALLEY: 412
Number of theft crimes in year 2015 at ATHLETIC CLUB: 385
Number of theft crimes in year 2015 at CTA STATION: 191
Number of theft crimes in year 2015 at RESIDENTIAL YARD (FRONT/BACK): 1652
Number of theft crimes in year 2015 at MOVIE HOUSE/THEATER: 43
Number of theft crimes in year 2015 at BARBERSHOP: 41
Number of theft crimes in year 2015 at AIRPORT TRANSPORTATION SYSTEM (ATS): 6
Number of theft crimes in year 2015 at RESIDENCE-GARAGE: 703
Number of theft crimes in year 2015 at VEHICLE NON-COMMERCIAL: 1415
Number of theft crimes in year 2015 at JAIL / LOCK-UP FACILITY: 6
Number of theft crimes in year 2015 at DEPARTMENT STORE: 3317
Number of theft crimes in year 2015 at OTHER RAILROAD PROP / TRAIN DEPOT: 62
Number of theft crimes in year 2015 at ANIMAL HOSPITAL: 12
Number of theft crimes in year 2015 at CURRENCY EXCHANGE: 41
Number of theft crimes in year 2015 at FOREST PRESERVE: 6
Number of theft crimes in year 2015 at AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA: 46
Number of theft crimes in year 2015 at SCHOOL, PUBLIC, BUILDING: 876
Number of theft crimes in year 2015 at AIRPORT TERMINAL UPPER LEVEL - SECURE AREA: 95
Number of theft crimes in year 2015 at BOWLING ALLEY: 10

In [15]:
df4

,Location Description,system.count(Case Number)
0,,1
1,WAREHOUSE,89
2,CTA GARAGE / OTHER PROPERTY,97
3,STREET,14451
4,AIRPORT PARKING LOT,33
...,...,...
96,FOREST PRESERVE,6
97,AIRPORT BUILDING NON-TERMINAL - NON-SECURE AREA,46
98,"SCHOOL, PUBLIC, BUILDING",876
99,AIRPORT TERMINAL UPPER LEVEL - SECURE AREA,95
100,BOWLING ALLEY,10

### Number of thefts occuring in residences with arrests being made in year 2010

In [24]:
session = cluster.connect()
session.default_timeout = 30000000
session.row_factory = pandas_factory
session.default_fetch_size = None
session.set_keyspace(keyspace)

start_time = time.time()
query5=session.execute("""SELECT count(*) FROM crime WHERE "Primary Type"='THEFT' and "Location Description"='RESIDENCE' and "Arrest"= True and "Year"=2010 ALLOW FILTERING;""")
query5_time = time.time()-start_time
df5 = query5._current_rows
print(f"Time to execute query: {query5_time:.2f}s")

Time to execute query: 54.95s

In [17]:
print(f"Number of robbery cases in District 1: {df5.iloc[0,0]}")

Number of robbery cases in District 1: 154

In [18]:
df5

   count
0    154